.navbar {
  position: relative;
  z-index: 100;
  padding: 40px 0;
  .nav-links-links {
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
      padding: 0;
      margin-bottom: 0;
      .nav-link-link {
        position: relative;
      }
      .tooltiptext {
        visibility: hidden;
        width: 20%;
        background-color: #fff;
        border-radius: 6px;
        padding: 15px;
        position: absolute;
        z-index: 1;
        top: 80%;
        .toolttip-item {
          display: flex;
          gap: 0.5rem;
          .tooltip-title {
            font-size: 1.1rem;
          }
        }
      }
      .nav-link-link:hover ~ {
        .tooltiptext {
          visibility: visible;
        }
      }
    }
  }
  .sign-btns {
    button {
      border: none;
      border-radius: 4px;
      background: transparent;
    }
    .try-free {
      color: #fff;
      padding: 10px 20px;
      background-color: #133416;
    }
  }
  @media screen and (max-width: 992px) {
    .nav-links-links,
    .sign-btns {
      display: none;
      position: absolute;
      z-index: 50;
    }

    .nav-links-links {
      top: 100%;
      ul {
        display: flex;
        flex-direction: column;
      }
      .tooltiptext {
        display: none;
      }
    }
    .sign-btns {
      top: 350px;
      margin-right: 20px;
    }
  }
  .mobile-nav {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
    &-menu {
      border: none;
      background: transparent;
      svg {
        width: 50px;
      }
    }
  }
}

// intro
.intro {
  display: flex;
  &-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    &-title {
      font-size: 3.5rem;
      font-weight: 600;
    }
    &-desc {
      max-width: 700px;
    }
  }
  &-pic {
    width: 40%;
    padding-top: 50px;
    &-img {
      width: 100%;
      height: 450px;
      object-fit: contain;
      object-position: right;
    }
  }
}

// credits
.credits {
  padding: 70px 0;
  text-align: center;
  &-header-title {
    font-size: 1rem;
  }
  &-icons span {
    margin-right: 20px;
  }
}
